@tailwind base;
@tailwind components;
@tailwind utilities;


/*Custom Toast notifications */
.toast {
    animation: slideInRight 0.5s, fadeOut 0.5s 3s forwards;
    max-width: 400px;
    opacity: 1;
    transition: opacity 0.5s;
}

.toast-success {
    background-color: #d4edda;
    color: #155724;
}

.toast-error {
    background-color: #f8d7da;
    color: #721c24;
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

#toast-container {
    z-index: 9999;
}

/*End of Custom Toast notifications */



[x-cloak] {
    display: none;
}


body{
    box-sizing: border-box;
}


.card:hover{
    h3{
        color: blue;
    }
}


#sidebar {
    --tw-translate-x: -100%;
}
#menu-close-icon {
    display: none;
}

#menu-open:checked ~ #sidebar {
    --tw-translate-x: 0;
}
#menu-open:checked ~ * #mobile-menu-button {
    background-color: rgba(31, 41, 55, var(--tw-bg-opacity));
}
#menu-open:checked ~ * #menu-open-icon {
    display: none;
}
#menu-open:checked ~ * #menu-close-icon {
    display: block;
}

@media (min-width: 768px) {
    #sidebar {
        --tw-translate-x: 0;
    }
}








.drop-area.active {
    border-color: #2563eb;
}
